
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(59, 59, 138, 0.774);
    font-family: verdana;
}

img {
    border: 2px solid black !important;
    padding: 10px;
    margin: 20px;
    border-radius: 2px;
    padding: 3px;
    width: 120px;
}

p.solid {
    border-top: 2px dashed rgb(0, 0, 0);
    padding-top: 140px;
    padding-bottom: 200px;
    line-height: 44px;
    color: black;
    font-size: 14pt;
}

p.innledning {
    font-size: 20pt;
    color: black;
}
.first{
    margin-bottom: 22%;
}
#center{
    text-align: center;
    width:100%
}
.highlight{
    font-size: 20pt;
}
#container {
    /*background-color: blue;*/
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, 100px);
    grid-auto-columns: minmax(100px, 100px);
}

.navigationbar {
    overflow: hidden;
    background-color: rgb(59, 59, 138);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px black solid;
}

.navigationbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: wheat;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: larger;
    margin-right: 2vw;
}

.navigationbar p {
    text-align: center;
}

.navigationbar a:hover {
    background: rgba(230, 226, 5, 0.774);
    color: b;
}

.active {
    border-bottom: red 2px solid;
}



@media screen and (max-width: 1100px) {
    .footertxt{
        font-size: 16pt !important;
    }
}
@media screen and (max-width: 902px) {
    .footertxt{
        font-size: 14pt !important;
        margin-left: 3vw !important;
        margin-right: 3vw !important;
    }
}
@media screen and (max-width: 504px) {
    .footertxt{
        font-size: 8pt !important;
        margin-left: 1.5vw !important;
        margin-right: 1.5vw !important;

    }
}


.bilde{
    height: 200px;
    width: 300px;
    float: right;
    padding-top: 0px;
    margin-top: 0px;
}

.background {
    grid-row: 1/12;
    grid-column: auto;
    background-size: contain;
    background-position: left;
}

#maincontact {
    margin-top: 100px;
}

.main {
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color:rgba(59, 59, 138, 0.774);
    border-top: 2px black solid;
    text-align: center;
    width: 100%;
    color: black;
}

#logo {
    border: none;
    height: 80px;
    padding-bottom: 0vh;
    padding-top: 0vh;
    padding-bottom: 0vh;
}

.footertxt {
    vertical-align: middle;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 18pt;
    font-weight: bold;
    color: b;
}

.construction {
    margin: 20rem;
    font-size: larger;
}

h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 5rem;
    margin-top: 2rem;
    color: orangered;
    padding-bottom: 5%;
    padding-top: 2%;
}

h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 1rem;
    color: rgba(3, 3, 129, 0.774);
    text-decoration: underline;
    font-style: italic;
}

#studentdiv {
    animation: changeBg 10s infinite;
    width: 100vw;
    height: 80vh;
    animation-timing-function: steps(1, end);
    background-size: 100% 100%;
    font-size: large;
}

#infoDiv>* {
    text-align: left;
    padding-left: 10px;
}

@media (max-width: 420px) {
    .navigationbar a{
        width: 30vw;
        font-size: 12pt;
    }
}
@media (max-width: 230px) {
    .navigationbar a{
        width: 15vw;

        font-size: 8pt;
    }
}

